## Mean-Median-Mode

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Using sklearn-libarires

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [5]:
df=pd.read_csv('titanic_toy.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      846 non-null    float64
 2   Family    891 non-null    int64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [7]:
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [8]:
df

      Age     Fare  Family  Survived
0    22.0   7.2500       1         0
1    38.0  71.2833       1         1
2    26.0   7.9250       0         1
3    35.0  53.1000       1         1
4    35.0   8.0500       0         0
..    ...      ...     ...       ...
886  27.0  13.0000       0         0
887  19.0  30.0000       0         1
888   NaN  23.4500       3         0
889  26.0      NaN       0         1
890  32.0   7.7500       0         0

[891 rows x 4 columns]

## Perfrom Train Test Split

In [10]:
x=df.drop(columns=['Survived'])

In [11]:
y=df['Survived']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [13]:
x_train.shape,x_test.shape

((712, 3), (179, 3))

In [14]:
x_train.isnull().mean()

Age       0.207865
Fare      0.050562
Family    0.000000
dtype: float64

## Calculate Mean & Median (Age | Fare)

mean_age= x_train['Age'].mean()
median_age= x_train['Age'].median()

mean_fare=x_train['Fare'].mean()
median_fare=x_train['Fare'].median()

## Create new column & impute missing values

In [18]:
x_train['Age_median']= x_train['Age'].fillna(median_age)

x_train['Age_mean']= x_train['Age'].fillna(mean_age)

x_train['Fare_median']=x_train['Fare'].fillna(median_fare)

x_train['Fare_mean']=x_train['Fare'].fillna(mean_fare)

NameError: name 'median_age' is not defined

In [ ]:
x_train.sample(8)

## Review Variance

In [ ]:
print('Original Age Variable variance:',x_train['Age'].var())

print('Age Variance after median imputation:', x_train['Age_median'].var())

print('Age Variance after mean imputation:',x_train['Age_mean'].var())

print('Original Fare Variable variance:',x_train['Fare'].var())

print('Fare Variance after median imputation:',x_train['Fare_median'].var())

print('Fare Variance after mean imputation:',x_train['Fare_mean'].var())

## Changes in Distribution in Age

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)
# original variable distribution
x_train['Age'].plot(kind='kde', ax=ax)
# variable imputed with the median
x_train['Age_median'].plot(kind='kde', ax=ax,
color='red')
# variable imputed with the mean
x_train['Age_mean'].plot(kind='kde', ax=ax,
color='green')
# add legends
lines, labels = ax.get_legend_handles_labels()
ax.legend(lines, labels, loc='best')

## Changes in Distribution in Fare

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)
# original variable distribution
x_train['Fare'].plot(kind='kde', ax=ax)
# variable imputed with the median
x_train['Fare_median'].plot(kind='kde', ax=ax,
color='red')
# variable imputed with the mean
x_train['Fare_mean'].plot(kind='kde', ax=ax,
color='green')
# add legends
lines, labels = ax.get_legend_handles_labels()
ax.legend(lines, labels, loc='best')

## Check Covariance

In [ ]:
x_train.cov()

## Check Correlation

In [ ]:
x_train.corr()

## Box Plot for Age

In [ ]:
x_train[['Age','Age_median','Age_mean']].boxplot()

## Box plot for Fare

In [ ]:
x_train[['Fare','Fare_median','Fare_mean']].boxplot()