## Day 4 ML Class

In [2]:
import pandas as pd

In [3]:
import requests

## Api key import

In [5]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=bd5b4df36bd91e5661008e60388cda6f&langage=en-US&page=1')

### 6 Column Select Code

In [7]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

### Df show

In [9]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,141.956,8.705
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",167.366,8.693
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,119.775,8.600
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,94.075,8.568
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,80.012,8.545
5,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",49.002,8.537
6,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",118.226,8.537
7,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,130.311,8.516
8,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",87.268,8.509
9,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,83.444,8.505
10,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,103.486,8.492
11,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",175.043,8.488
12,122,The Lord of the Rings: The Return of the King,2003-12-01,As armies mass for a final battle that will de...,120.743,8.500
13,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,101.578,8.475
14,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,91.985,8.465
15,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",138.176,8.500
16,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.060,8.459
17,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,43.423,8.500
18,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",44.652,8.452
19,1058694,Radical,2023-10-19,"In a Mexican border town plagued by neglect, c...",45.436,8.452

In [10]:
df.head()

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,141.956,8.705
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",167.366,8.693
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,119.775,8.600
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,94.075,8.568
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,80.012,8.545

## get a data from page 5

In [12]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=bd5b4df36bd91e5661008e60388cda6f&langage=en-US&page=5')

In [13]:
df1 = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [14]:
df1

,id,title,release_date,overview,popularity,vote_average
0,652837,"Josee, the Tiger and the Fish",2020-12-25,"With dreams of diving abroad, Tsuneo gets a jo...",31.065,8.266
1,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,30.581,8.260
2,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,30.636,8.260
3,8587,The Lion King,1994-06-24,A young lion prince is cast out of his pride b...,130.682,8.256
4,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",50.340,8.253
5,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,26.255,8.300
6,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,164.450,8.253
7,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,"In the aftermath of the Fourth Impact, strande...",40.953,8.251
8,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,46.901,8.248
9,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,38.282,8.250
10,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,219.767,8.246
11,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",177.953,8.242
12,42269,We All Loved Each Other So Much,1974-12-21,Three partisans bound by a strong friendship r...,17.708,8.237
13,315162,Puss in Boots: The Last Wish,2022-12-07,Puss in Boots discovers that his passion for a...,219.157,8.234
14,618344,Justice League Dark: Apokolips War,2020-05-05,Earth is decimated after intergalactic tyrant ...,69.737,8.234
15,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",40.095,8.234
16,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,28.159,8.234
17,110420,Wolf Children,2012-07-21,After her werewolf lover unexpectedly dies in ...,37.103,8.233
18,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,2020-10-16,"Tanjiro Kamado, joined with Inosuke Hashibira,...",170.430,8.228
19,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,46.950,8.227

In [15]:
df1.shape

(20, 6)

In [16]:
df1.to_csv('movies.csv')

In [31]:
df1

,id,title,release_date,overview,popularity,vote_average
0,652837,"Josee, the Tiger and the Fish",2020-12-25,"With dreams of diving abroad, Tsuneo gets a jo...",31.065,8.266
1,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,30.581,8.260
2,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,30.636,8.260
3,8587,The Lion King,1994-06-24,A young lion prince is cast out of his pride b...,130.682,8.256
4,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",50.340,8.253
5,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,26.255,8.300
6,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,164.450,8.253
7,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,"In the aftermath of the Fourth Impact, strande...",40.953,8.251
8,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,46.901,8.248
9,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,38.282,8.250
10,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,219.767,8.246
11,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",177.953,8.242
12,42269,We All Loved Each Other So Much,1974-12-21,Three partisans bound by a strong friendship r...,17.708,8.237
13,315162,Puss in Boots: The Last Wish,2022-12-07,Puss in Boots discovers that his passion for a...,219.157,8.234
14,618344,Justice League Dark: Apokolips War,2020-05-05,Earth is decimated after intergalactic tyrant ...,69.737,8.234
15,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",40.095,8.234
16,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,28.159,8.234
17,110420,Wolf Children,2012-07-21,After her werewolf lover unexpectedly dies in ...,37.103,8.233
18,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,2020-10-16,"Tanjiro Kamado, joined with Inosuke Hashibira,...",170.430,8.228
19,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,46.950,8.227